h1 {
  text-align: center;
  padding-top: 5%;
  font-size: 60px;
  font-weight: 600;
  color: #2c8ac8;
}

h2 {
  text-align: center;
  padding-top: 2%;
  color: #0266a8;
  font-weight: 500;
}

.header-logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
}
